* {
  --blue: rgb(11, 151, 233);
}
body {
  height: 100vh;
}
.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar dashboard";
  height: 100%;
  grid-template-rows: 200px auto;
}

/* ______________________________HEADER____________________________ */
.header {
  display: grid;
  grid-template-columns: auto calc(100% / 3);
  grid-area: header;
  background-color: white;
  padding-left: 32px;
}
.searchbar {
  display: flex;
  align-self: center;
  width: 500px;
  border: solid;
}
.settings {
  align-self: center;
  justify-self: end;
  align-self: center;
  margin-right: 32px;
}
.greeting {
  display: grid;

  align-self: center;
}
.menu {
  display: flex;
  gap: 16px;

  align-items: center;
  align-self: center;
  justify-self: end;

  margin-right: 32px;
}
.menu > button {
  padding: 8px 16px 8px 16px;

  border-radius: 16px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--blue);
}
/*_______________________________ sidebar___________________________________ */
.sidebar {
  color: white;
  padding-left: 16px;
  height: 100vh;
  display: grid;
  gap: 24px;
  grid-template-rows: 100px 100px 100px;
  grid-area: sidebar;
  width: 280px;
  display: grid;
  background-color: var(--blue);
}

.title {
  padding-left: 16px;
  display: flex;
  align-self: center;
  font-size: 32px;
}
.group1 {
  padding-left: 16px;
}
.group2 {
  padding-left: 16px;
}

/*_________________________ dashboard_____________________________ */
.dashboard {
  padding-top: 16px;
  grid-area: dashboard;
  display: inline-grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr) calc(100% / 4);

  padding-left: 16px;

  background-color: rgb(226, 226, 236);
}

.projects {
  align-items: ;
  grid-column: 1/ 3;
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 24px 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 16px;
}
.card {
  padding-left: 16px;
  padding-top: 16px;
  background-color: white;
  border-radius: 8px;
  border-left: 8px rgb(255, 208, 79) solid;
}
.announcements {
  display: grid;
  grid-template-rows: 1fr 90%;
  gap: 5px;
}
.announcement_card {
  display: grid;
  padding-top: 16px;
  padding-left: 16px;
  grid-template-rows: repeat(3, 1fr);

  gap: 16px;
  border-radius: 8px;
  background-color: white;
}

.trending {
  display: grid;
  grid-template-rows: 1fr 90%;
  gap: 5px;
}

.trending_card {
  display: grid;
  padding-top: 16px;
  padding-left: 16px;
  grid-template-rows: repeat(3, 1fr);

  gap: 16px;
  border-radius: 8px;
  background-color: white;
}
